//- extends layout

//- block content
//-   h1 title
//-   button(type="button", id="loginBtn") Sign In
//-   h1 test
//-   script.
//-     window.authUrl = '!{authUrl}';
//-   script(src="/javascripts/index.js")