doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='dist/jquery/dist/jquery.min.js')
  body
    h1 title
    button(type="button", id="loginBtn") Sign In
    h1 test
    script.
      window.authUrl = '!{authUrl}';
    script(src="/javascripts/index.js")